In [1]:
import chardet

with open("datasets/best_cities.csv", "rb") as f:
    raw_data = f.read(100000)  # Read first 100,000 bytes (adjust if needed)
    result = chardet.detect(raw_data)

print("Detected encoding:", result["encoding"])

Detected encoding: utf-8

In [2]:
# import pandas as pd

# df = pd.read_csv("datasets/best_cities.csv", encoding="UTF-8", encoding_errors="replace") 

# print(df.head(10))

In [3]:
import pandas as pd

df = pd.read_csv("datasets/best_cities.csv", encoding="utf-8", encoding_errors="replace") 
print(df.to_markdown())

|     |   Ranking | City              | Country              |   Remote connection: Average WiFi speed (Mbps per second) |   Co-working spaces: Number of co-working spaces |   Caffeine: Average price of buying a coffee |   Travel: Average price of taxi (per km) |   After-work drinks: Average price for 2 beers in a bar |   Accommodation: Average price of 1 bedroom apartment per month |   Food: Average cost of a meal at a local, mid-level restaurant |   Climate: Average number of sunshine hours |   Tourist attractions: Number of ‘Things to do’ on Tripadvisor |   Instagramability: Number of photos with # |
|----:|----------:|:------------------|:---------------------|----------------------------------------------------------:|-------------------------------------------------:|---------------------------------------------:|-----------------------------------------:|--------------------------------------------------------:|----------------------------------------------------------------:|----------------------------------------------------------------:|--------------------------------------------:|---------------------------------------------------------------:|--------------------------------------------:|
|   0 |         1 | Bangkok           | Thailand             |                                                        28 |                                              117 |                                         1.56 |                                     0.82 |                                                    3.08 |                                                          415.18 |                                                            1.54 |                                        2624 |                                                           2262 |                                    28386616 |
|   1 |         2 | New Delhi         | India                |                                                        12 |                                              165 |                                         1.42 |                                     0.19 |                                                    2.9  |                                                          179.25 |                                                            2.9  |                                        2685 |                                                           2019 |                                    28528249 |
|   2 |         3 | Lisbon            | Portugal             |                                                        33 |                                               95 |                                         1.56 |                                     0.4  |                                                    3.42 |                                                          736.19 |                                                            7.69 |                                        2806 |                                                           1969 |                                    10205538 |
|   3 |         4 | Barcelona         | Spain                |                                                        37 |                                              136 |                                         1.59 |                                     1.01 |                                                    5.12 |                                                          768.46 |                                                           10.25 |                                        2591 |                                                           2739 |                                    62894055 |
|   4 |         5 | Buenos Aires      | Argentina            |                                                        17 |                                               67 |                                         1.22 |                                     0.47 |                                                    2.16 |                                                          229.55 |                                                            5.15 |                                        2525 |                                                           1660 |                                    21293975 |
|   5 |         5 | Budapest          | Hungary              |                                                        37 |                                               40 |                                         1.2  |                                     0.72 |                                                    2.4  |                                                          366.66 |                                                            4.81 |                                        1988 |                                                           1468 |                                    14267880 |
|   6 |         7 | Mumbai            | India                |                                                        23 |                                              152 |                                         1.57 |                                     0.22 |                                                    3.28 |                                                          419.64 |                                                            2.9  |                                        2584 |                                                            892 |                                    47201552 |
|   7 |         8 | Istanbul          | Turkey               |                                                        13 |                                               69 |                                         1.23 |                                     0.29 |                                                    3.34 |                                                          230.1  |                                                            2.92 |                                        2218 |                                                           2088 |                                   116213193 |
|   8 |         9 | Bucharest         | Romania              |                                                        54 |                                               46 |                                         1.78 |                                     0.35 |                                                    2.78 |                                                          352.35 |                                                            6.07 |                                        2115 |                                                            726 |                                     3376251 |
|   9 |        10 | Phuket            | Thailand             |                                                        23 |                                               11 |                                         1.73 |                                     0.76 |                                                    3.92 |                                                          301.08 |                                                            2.72 |                                        3450 |                                                           1698 |                                    10190220 |
|  10 |        10 | Chiang Mai        | Thailand             |                                                        26 |                                               25 |                                         1.32 |                                     0.33 |                                                    3.52 |                                                          302.09 |                                                            1.54 |                                        2512 |                                                           1181 |                                     6428544 |
|  11 |        12 | Madrid            | Spain                |                                                        32 |                                              125 |                                         1.7  |                                     0.94 |                                                   10.02 |                                                          751.8  |                                                           10.25 |                                        2769 |                                                           1976 |                                    44165754 |
|  12 |        13 | Jakarta           | Indonesia            |                                                        14 |                                              104 |                                         1.74 |                                     0.22 |                                                    3.98 |                                                          338.45 |                                                            1.99 |                                        3252 |                                                            449 |                                    75735133 |
|  13 |        14 | São Paulo         | Brazil               |                                                        17 |                                              112 |                                         1.14 |                                     0.85 |                                                    2.82 |                                                          323.93 |                                                            4.23 |                                        1894 |                                                           1267 |                                    32178314 |
|  14 |        15 | Rio de Janeiro    | Brazil               |                                                        10 |                                               42 |                                         1.08 |                                     0.42 |                                                    2.26 |                                                          264.92 |                                                            4.59 |                                        2187 |                                                           1607 |                                    43041426 |
|  15 |        16 | Sofia             | Bulgaria             |                                                        30 |                                               53 |                                         1.13 |                                     0.35 |                                                    2.56 |                                                          313.59 |                                                            5.23 |                                        2177 |                                                            598 |                                     4197864 |
|  16 |        17 | Mexico City       | Mexico               |                                                        20 |                                              133 |                                         1.67 |                                     0.24 |                                                    2.9  |                                                          454.33 |                                                            5.44 |                                        2555 |                                                            969 |                                     6810938 |
|  17 |        18 | Hanoi             | Vietnam              |                                                        14 |                                               59 |                                         1.2  |                                     0.38 |                                                    1.26 |                                                          247.44 |                                                            1.25 |                                        1585 |                                                           1948 |                                     7438755 |
|  18 |        19 | Krakow            | Poland               |                                                        37 |                                               35 |                                         2    |                                     0.45 |                                                    3.76 |                                                          538.25 |                                                            5.63 |                                        2492 |                                                            999 |                                     5787290 |
|  19 |        20 | Kuala Lumpur      | Malaysia             |                                                        17 |                                              103 |                                         1.94 |                                     0.52 |                                                    5.16 |                                                          327.98 |                                                            2.58 |                                        2774 |                                                            665 |                                    15148859 |
|  20 |        21 | Ho Chi Minh City  | Vietnam              |                                                        13 |                                               92 |                                         1.36 |                                     0.47 |                                                    1.32 |                                                          404.46 |                                                            1.57 |                                        2489 |                                                           1357 |                                     1636058 |
|  21 |        22 | Singapore         | Singapore            |                                                        93 |                                              117 |                                         2.95 |                                     0.48 |                                                    9.54 |                                                         1455.77 |                                                            7.28 |                                        2022 |                                                           1561 |                                    41453533 |
|  22 |        23 | Belgrade          | Serbia               |                                                        34 |                                               33 |                                         1.32 |                                     0.51 |                                                    2.9  |                                                          308    |                                                            5.08 |                                        2112 |                                                            535 |                                     4424079 |
|  23 |        23 | Prague            | Czech Republic       |                                                        36 |                                               38 |                                         1.9  |                                     0.93 |                                                    3.68 |                                                          595.32 |                                                            5.01 |                                        1668 |                                                           2342 |                                    17540484 |
|  24 |        25 | Cape Town         | South Africa         |                                                        12 |                                               46 |                                         1.45 |                                     0.6  |                                                    3.5  |                                                          494.85 |                                                            7    |                                        3094 |                                                           1469 |                                    12323779 |
|  25 |        26 | Siem Reap         | Cambodia             |                                                         9 |                                                3 |                                         1.25 |                                     0.54 |                                                    1.26 |                                                          203.43 |                                                            1.43 |                                        3519 |                                                           1650 |                                     2293814 |
|  26 |        27 | Porto             | Portugal             |                                                        29 |                                               32 |                                         1.34 |                                     0.43 |                                                    3.4  |                                                          572.92 |                                                            5.96 |                                        2468 |                                                            802 |                                     9726729 |
|  27 |        28 | Valencia          | Spain                |                                                        30 |                                               39 |                                         1.51 |                                     0.85 |                                                    5.1  |                                                          594.88 |                                                            8.52 |                                        2660 |                                                            681 |                                    23385115 |
|  28 |        29 | Kyiv              | Ukraine              |                                                        33 |                                               49 |                                         0.93 |                                     0.18 |                                                    1.58 |                                                          413.92 |                                                            4.62 |                                        1955 |                                                             87 |                                     6800366 |
|  29 |        30 | Los Angeles       | United States        |                                                        58 |                                              105 |                                         3.39 |                                     1.21 |                                                   10.08 |                                                         1612.62 |                                                           14.4  |                                        3254 |                                                           1375 |                                    75436810 |

In [4]:
# Count total missing values
missing_values = df.isna().sum().sum()
print(f"Total missing values: {missing_values}")

# Print only rows with at least one NaN value
null_rows = df[df.isna().any(axis=1)]
print(null_rows.to_markdown())  # Displays all rows with missing values

Total missing values: 0
| Ranking   | City   | Country   | Remote connection: Average WiFi speed (Mbps per second)   | Co-working spaces: Number of co-working spaces   | Caffeine: Average price of buying a coffee   | Travel: Average price of taxi (per km)   | After-work drinks: Average price for 2 beers in a bar   | Accommodation: Average price of 1 bedroom apartment per month   | Food: Average cost of a meal at a local, mid-level restaurant   | Climate: Average number of sunshine hours   | Tourist attractions: Number of ‘Things to do’ on Tripadvisor   | Instagramability: Number of photos with #   |
|-----------|--------|-----------|-----------------------------------------------------------|--------------------------------------------------|----------------------------------------------|------------------------------------------|---------------------------------------------------------|-----------------------------------------------------------------|-----------------------------------------------------------------|---------------------------------------------|----------------------------------------------------------------|---------------------------------------------|

In [5]:
print(df.dtypes)

Ranking                                                            int64
City                                                              object
Country                                                           object
Remote connection: Average WiFi speed (Mbps per second)            int64
Co-working spaces: Number of co-working spaces                     int64
Caffeine: Average price of buying a coffee                       float64
Travel: Average price of taxi (per km)                           float64
After-work drinks: Average price for 2 beers in a bar            float64
Accommodation: Average price of 1 bedroom apartment per month    float64
Food: Average cost of a meal at a local, mid-level restaurant    float64
Climate: Average number of sunshine hours                          int64
Tourist attractions: Number of ‘Things to do’ on Tripadvisor       int64
Instagramability: Number of photos with #                          int64
dtype: object

In [6]:
# Convert all object columns to string dtype
df = df.apply(lambda x: x.astype('string') if x.dtype == 'object' else x)

# Check the dtypes to confirm
print(df.dtypes)

Ranking                                                                   int64
City                                                             string[python]
Country                                                          string[python]
Remote connection: Average WiFi speed (Mbps per second)                   int64
Co-working spaces: Number of co-working spaces                            int64
Caffeine: Average price of buying a coffee                              float64
Travel: Average price of taxi (per km)                                  float64
After-work drinks: Average price for 2 beers in a bar                   float64
Accommodation: Average price of 1 bedroom apartment per month           float64
Food: Average cost of a meal at a local, mid-level restaurant           float64
Climate: Average number of sunshine hours                                 int64
Tourist attractions: Number of ‘Things to do’ on Tripadvisor              int64
Instagramability: Number of photos with #                                 int64
dtype: object

In [7]:
print(sorted(df["Country"].dropna().unique()))

['Argentina', 'Australia', 'Austria', 'Belarus', 'Belgium', 'Bolivia', 'Brazil', 'Bulgaria', 'Burma/Myanmar', 'Cambodia', 'Canada', 'Chile', 'China', 'Colombia', 'Costa Rica', 'Croatia', 'Czech Republic', 'Denmark', 'Ecuador', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hawaii', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Ireland', 'Israel', 'Italy', 'Japan', 'Kuwait', 'Laos', 'Latvia', 'Lebanon', 'Lithuania', 'Malaysia', 'Malta', 'Mexico', 'Morocco', 'Nepal', 'Netherlands', 'New Zealand', 'Norway', 'Oman', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Senegal', 'Serbia', 'Singapore', 'Slovenia', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Vietnam']

In [8]:
from currency_converter import CurrencyConverter

# Initialize CurrencyConverter
c = CurrencyConverter()

# Get the exchange rate from USD to EUR
exchange_rate = c.convert(1, 'USD', 'EUR')

# Columns to convert
columns_to_convert = [
    'Caffeine: Average price of buying a coffee',
    'Travel: Average price of taxi (per km)',
    'After-work drinks: Average price for 2 beers in a bar',
    'Accommodation: Average price of 1 bedroom apartment per month',
    'Food: Average cost of a meal at a local, mid-level restaurant'
]

# Apply conversion only to the specified columns
df[columns_to_convert] = (df[columns_to_convert] * exchange_rate).round(2)

# Print the updated DataFrame
print(df.to_markdown())

|     |   Ranking | City              | Country              |   Remote connection: Average WiFi speed (Mbps per second) |   Co-working spaces: Number of co-working spaces |   Caffeine: Average price of buying a coffee |   Travel: Average price of taxi (per km) |   After-work drinks: Average price for 2 beers in a bar |   Accommodation: Average price of 1 bedroom apartment per month |   Food: Average cost of a meal at a local, mid-level restaurant |   Climate: Average number of sunshine hours |   Tourist attractions: Number of ‘Things to do’ on Tripadvisor |   Instagramability: Number of photos with # |
|----:|----------:|:------------------|:---------------------|----------------------------------------------------------:|-------------------------------------------------:|---------------------------------------------:|-----------------------------------------:|--------------------------------------------------------:|----------------------------------------------------------------:|----------------------------------------------------------------:|--------------------------------------------:|---------------------------------------------------------------:|--------------------------------------------:|
|   0 |         1 | Bangkok           | Thailand             |                                                        28 |                                              117 |                                         1.51 |                                     0.8  |                                                    2.99 |                                                          403.13 |                                                            1.5  |                                        2624 |                                                           2262 |                                    28386616 |
|   1 |         2 | New Delhi         | India                |                                                        12 |                                              165 |                                         1.38 |                                     0.18 |                                                    2.82 |                                                          174.05 |                                                            2.82 |                                        2685 |                                                           2019 |                                    28528249 |
|   2 |         3 | Lisbon            | Portugal             |                                                        33 |                                               95 |                                         1.51 |                                     0.39 |                                                    3.32 |                                                          714.82 |                                                            7.47 |                                        2806 |                                                           1969 |                                    10205538 |
|   3 |         4 | Barcelona         | Spain                |                                                        37 |                                              136 |                                         1.54 |                                     0.98 |                                                    4.97 |                                                          746.15 |                                                            9.95 |                                        2591 |                                                           2739 |                                    62894055 |
|   4 |         5 | Buenos Aires      | Argentina            |                                                        17 |                                               67 |                                         1.18 |                                     0.46 |                                                    2.1  |                                                          222.89 |                                                            5    |                                        2525 |                                                           1660 |                                    21293975 |
|   5 |         5 | Budapest          | Hungary              |                                                        37 |                                               40 |                                         1.17 |                                     0.7  |                                                    2.33 |                                                          356.02 |                                                            4.67 |                                        1988 |                                                           1468 |                                    14267880 |
|   6 |         7 | Mumbai            | India                |                                                        23 |                                              152 |                                         1.52 |                                     0.21 |                                                    3.18 |                                                          407.46 |                                                            2.82 |                                        2584 |                                                            892 |                                    47201552 |
|   7 |         8 | Istanbul          | Turkey               |                                                        13 |                                               69 |                                         1.19 |                                     0.28 |                                                    3.24 |                                                          223.42 |                                                            2.84 |                                        2218 |                                                           2088 |                                   116213193 |
|   8 |         9 | Bucharest         | Romania              |                                                        54 |                                               46 |                                         1.73 |                                     0.34 |                                                    2.7  |                                                          342.12 |                                                            5.89 |                                        2115 |                                                            726 |                                     3376251 |
|   9 |        10 | Phuket            | Thailand             |                                                        23 |                                               11 |                                         1.68 |                                     0.74 |                                                    3.81 |                                                          292.34 |                                                            2.64 |                                        3450 |                                                           1698 |                                    10190220 |
|  10 |        10 | Chiang Mai        | Thailand             |                                                        26 |                                               25 |                                         1.28 |                                     0.32 |                                                    3.42 |                                                          293.32 |                                                            1.5  |                                        2512 |                                                           1181 |                                     6428544 |
|  11 |        12 | Madrid            | Spain                |                                                        32 |                                              125 |                                         1.65 |                                     0.91 |                                                    9.73 |                                                          729.97 |                                                            9.95 |                                        2769 |                                                           1976 |                                    44165754 |
|  12 |        13 | Jakarta           | Indonesia            |                                                        14 |                                              104 |                                         1.69 |                                     0.21 |                                                    3.86 |                                                          328.62 |                                                            1.93 |                                        3252 |                                                            449 |                                    75735133 |
|  13 |        14 | São Paulo         | Brazil               |                                                        17 |                                              112 |                                         1.11 |                                     0.83 |                                                    2.74 |                                                          314.53 |                                                            4.11 |                                        1894 |                                                           1267 |                                    32178314 |
|  14 |        15 | Rio de Janeiro    | Brazil               |                                                        10 |                                               42 |                                         1.05 |                                     0.41 |                                                    2.19 |                                                          257.23 |                                                            4.46 |                                        2187 |                                                           1607 |                                    43041426 |
|  15 |        16 | Sofia             | Bulgaria             |                                                        30 |                                               53 |                                         1.1  |                                     0.34 |                                                    2.49 |                                                          304.49 |                                                            5.08 |                                        2177 |                                                            598 |                                     4197864 |
|  16 |        17 | Mexico City       | Mexico               |                                                        20 |                                              133 |                                         1.62 |                                     0.23 |                                                    2.82 |                                                          441.14 |                                                            5.28 |                                        2555 |                                                            969 |                                     6810938 |
|  17 |        18 | Hanoi             | Vietnam              |                                                        14 |                                               59 |                                         1.17 |                                     0.37 |                                                    1.22 |                                                          240.26 |                                                            1.21 |                                        1585 |                                                           1948 |                                     7438755 |
|  18 |        19 | Krakow            | Poland               |                                                        37 |                                               35 |                                         1.94 |                                     0.44 |                                                    3.65 |                                                          522.62 |                                                            5.47 |                                        2492 |                                                            999 |                                     5787290 |
|  19 |        20 | Kuala Lumpur      | Malaysia             |                                                        17 |                                              103 |                                         1.88 |                                     0.5  |                                                    5.01 |                                                          318.46 |                                                            2.51 |                                        2774 |                                                            665 |                                    15148859 |
|  20 |        21 | Ho Chi Minh City  | Vietnam              |                                                        13 |                                               92 |                                         1.32 |                                     0.46 |                                                    1.28 |                                                          392.72 |                                                            1.52 |                                        2489 |                                                           1357 |                                     1636058 |
|  21 |        22 | Singapore         | Singapore            |                                                        93 |                                              117 |                                         2.86 |                                     0.47 |                                                    9.26 |                                                         1413.51 |                                                            7.07 |                                        2022 |                                                           1561 |                                    41453533 |
|  22 |        23 | Belgrade          | Serbia               |                                                        34 |                                               33 |                                         1.28 |                                     0.5  |                                                    2.82 |                                                          299.06 |                                                            4.93 |                                        2112 |                                                            535 |                                     4424079 |
|  23 |        23 | Prague            | Czech Republic       |                                                        36 |                                               38 |                                         1.84 |                                     0.9  |                                                    3.57 |                                                          578.04 |                                                            4.86 |                                        1668 |                                                           2342 |                                    17540484 |
|  24 |        25 | Cape Town         | South Africa         |                                                        12 |                                               46 |                                         1.41 |                                     0.58 |                                                    3.4  |                                                          480.48 |                                                            6.8  |                                        3094 |                                                           1469 |                                    12323779 |
|  25 |        26 | Siem Reap         | Cambodia             |                                                         9 |                                                3 |                                         1.21 |                                     0.52 |                                                    1.22 |                                                          197.52 |                                                            1.39 |                                        3519 |                                                           1650 |                                     2293814 |
|  26 |        27 | Porto             | Portugal             |                                                        29 |                                               32 |                                         1.3  |                                     0.42 |                                                    3.3  |                                                          556.29 |                                                            5.79 |                                        2468 |                                                            802 |                                     9726729 |
|  27 |        28 | Valencia          | Spain                |                                                        30 |                                               39 |                                         1.47 |                                     0.83 |                                                    4.95 |                                                          577.61 |                                                            8.27 |                                        2660 |                                                            681 |                                    23385115 |
|  28 |        29 | Kyiv              | Ukraine              |                                                        33 |                                               49 |                                         0.9  |                                     0.17 |                                                    1.53 |                                                          401.9  |                                                            4.49 |                                        1955 |                                                             87 |                                     6800366 |
|  29 |        30 | Los Angeles       | United States        |                                                        58 |                                              105 |                                         3.29 |                                     1.17 |                                                    9.79 |                                                         1565.8  |                                                           13.98 |                                        3254 |                                                           1375 |                                    75436810 |

In [9]:
import os

# Define the folder path
folder_path = "converted_datasets"

# Ensure the folder exists
os.makedirs(folder_path, exist_ok=True)

# Define the full file path
file_path = os.path.join(folder_path, "cities_new.csv")

# Save the DataFrame as a CSV file
df.to_csv(file_path, index=False, encoding='utf-8')

print(f"CSV file saved successfully at: {file_path}")

CSV file saved successfully at: converted_datasets\cities_new.csv